.mycontainer{
     
    min-height: 100vh;
    background-image: url('../bg.jpg');
  
}

h1{

   
    font-family: 'Macondo', cursive;
    font-size:50px;
    font-weight: 100;
    color: white;
   
}

h3{

   
    font-family: 'Macondo', cursive;

    font-size: 25px;

    color: white;
     
   
}

h5{

   
    font-family: 'Macondo', cursive;

    font-size: 25px;

    align-items: center;

    color: white;
     
   
}

.logoimg{

    height: 150px;
    border-radius: 100%;
}

