.mycontainer{
    background-color: #F4F9F9;
}

h1{

   
    font-family: 'Macondo', cursive;
     font-size:30px;
   
}

h3{

   
    font-family: 'Macondo', cursive;

    font-size: 25px;
     
   
}

h5{

   
    font-family: 'Macondo', cursive;

    font-size: 18px;

    align-items: center;
     
   
}

.logoimg{

    height: 100px;
    border-radius: 100%;
}

