p {
    font-family: 'Exo 2', sans-serif;
   
    font-size: 20px;

   
}

.myflex {

   background-color: black;
}

.myText{
    font-family: 'Macondo', cursive;
    font-size:50px;
    font-weight: 100;
   
}

.myTextChild{
    font-family: 'Macondo', cursive;
    font-size:20px;
    font-weight: 100;
}